APP_NAME="Lojacorr Seguros API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=America/Sao_Paulo

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=lojacorr_seguros
DB_USERNAME=lojacorr
DB_PASSWORD=lojacorr123

CACHE_DRIVER=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DATABASE=lojacorr_logs
MONGO_USERNAME=admin
MONGO_PASSWORD=admin123

JWT_SECRET=
JWT_TTL=60
JWT_REFRESH_TTL=20160

VIACEP_TIMEOUT=5000
VIACEP_BASE_URL=https://viacep.com.br/ws
